/* card */
.w-path-card {
  padding: 24px;
}

.w-path-card__info {
  margin-bottom: 1rem;
}

.w-path-card__info::before {
  background-color: #00897b;
  content: "";
  display: block;
  height: 2px;
  width: 64px;
}

.w-path-card__info-list {
  height: 36px;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 10px 0 0;
}

.w-path-card__info-listitem {
  color: #5f6368;
  display: block;
  float: left;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.w-path-card__info-listitem::after {
  content: "·";
  display: inline-block;
  margin: 0 8px;
}

.w-path-card__info-listitem--category {
  color: #00897b;
  font-weight: 500;
}

.w-path-card__info-listitem:last-of-type::after {
  content: "";
  margin: 0;
}

.w-path-card__info-listitem--more-info::after {
  content: "";
}

.w-path-card__info-listitem--updated {
  display: none;
}

.w-path-card__cover {
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  height: 208px;
  margin: 0 0 1.3rem;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
}
.w-path-card__cover_dark {
  background-color: #1f1a24;
  border: 1px solid #1f1b24;
  height: 208px;
  margin: 0 0 1.3rem;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
}
.w-path-card__cover_blue {
  background-color: #012d63;
  border: 1px solid #1f1b24;
  height: 208px;
  margin: 0 0 1.3rem;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
}
.w-path-card__cover_gray {
  background: linear-gradient(
    90deg,
    rgba(134, 133, 134, 1) 0%,
    rgba(166, 165, 166, 1) 35%
  );
  border: 1px solid #dadce0;
  height: 208px;
  margin: 0 0 1.3rem;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
}

.w-path-card__cover-image {
  height: 100%;
  object-fit: contain;
  width: 90%;
}
.w-path-card__cover-image-fit-fill {
  height: 100%;
  object-fit: fit;
  width: 100%;
}
.w-path-card__cover-image--fill {
  object-fit: cover;
}

.w-path-card__headline {
  margin: 0 0 1rem;
}

.w-path-card__subhead {
  color: #5f6368;
  font: inherit;
  margin: 16px 0;
}

/* card work */
.w-path-card2 {
  padding: 24px;
}
.w-path-card__info2 {
  margin-bottom: 1rem;
}

.w-path-card__info2::before {
  background-color: #ff7043;
  content: "";
  display: block;
  height: 2px;
  width: 64px;
}

.w-path-card__info-listitem2 {
  color: #5f6368;
  display: block;
  float: left;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.w-path-card__info-listitem::after {
  content: "·";
  display: inline-block;
  margin: 0 8px;
}

.w-path-card__info-listitem--category2 {
  color: #ff7043;
  font-weight: 500;
}
