a:hover {
  text-decoration: line-through;
}
.mdl-button {
  margin: 10px;
}
.mdl-layout__header {
  background-color: #fff;
}
body {
  background-color: #fff;
  overflow: hidden;
  font-family: "Open Sans";
}
.mdl-layout__header-row {
  color: black;
}
.mdl-layout__header-row .mdl-navigation__link {
  color: black;
}
.mdl-layout__header-row .mdl-navigation__link:hover {
  background-color: #f8f9fa;
}
.mdl-layout__header .mdl-layout__drawer-button i {
  color: #000;
}
.mdl-layout__drawer {
  background-color: #fff;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  color: #000;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
  background-color: #f8f9fa;
}

.flexbox-container {
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (max-width: 40em) {
  .flexbox-container {
    flex-direction: column;
  }
  .left-half {
    display: none;
  }
}
/* Pattern styles */
.container {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}
.containerhelp {
  min-width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  /* overflow: hidden; */
}

.left-half {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/src/images/Charge\ Forward.jpg");
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: 40% 0;
  flex: 1;
  padding: 1rem;
}

.right-half {
  flex: 2;
  padding: 1rem;
}
#card1{
  width: 100%;
}

svg {
  width: 0vw;
}

footer {
  width: 100vw;
  bottom: 0;
  position: relative;
  left: 0;
  display: flex;
  align-items: flex-end;
  padding-bottom: 3rem;
  justify-content: center;
  overflow: hidden;
  height: 275px;
  width: 100%;
  filter: url("#goo");
}
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}
.close-button {
  display: none;
  margin: 50px;
}
